@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    display: flex;
    padding: 0 12px;
    font-size: 29px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

nav li{
    list-style: none;
}

.game-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;

}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(232, 222, 240);
}

.info{
    font-size: 22px;
}

.game-info{
    padding: 0 34px;
    font-family: 'Roboto', sans-serif;
}

.img-box img{
    width: 0;
    transition: width 1s ease-in-out;
    
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0;
}

.br-0{
    border-right: 0;
}

#reset{
    background-color: rgb(238, 211, 238);
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
    margin: 0 23px;
    font-size: large;
}

@media screen and (max-width: 950px)
{
    .game-container{
        flex-wrap: wrap;
    }
    .game-info{
       margin-top: 34px; 
    }
    .game-info h1{
        font-size: 1.5rem;
    }

    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}